[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]in/

*.csproj
*.unityproj
*.sln
*.piad
*.pidb
*.userprefs
*.DS_Store

UNITY_*_*/NendUnitySample/Assets/Plugins/Nend*
UNITY_*_*/NendUnitySample/Assets/Plugins/iOS*
UNITY_*_*/NendUnitySample/Assets/Plugins/Android/nend*